flow_mqtt_final.json
[{"id":"e522681c.efe738","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d01035b2.ab7dc8","type":"debug","z":"e522681c.efe738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":80,"wires":[]},{"id":"ec332dad.2789f","type":"mqtt in","z":"e522681c.efe738","name":"","topic":"sensor","qos":"0","datatype":"auto","broker":"3d695519.ef9d2a","x":360,"y":80,"wires":[["d01035b2.ab7dc8"]]},{"id":"4acdbeec.96897","type":"mqtt in","z":"e522681c.efe738","name":"","topic":"sensor/nd","qos":"2","datatype":"auto","broker":"3d695519.ef9d2a","x":360,"y":340,"wires":[["8e026ab8.c31fa8","ef2c1560.bffef8"]]},{"id":"dccf4429.2847b8","type":"mqtt in","z":"e522681c.efe738","name":"","topic":"sensor/da","qos":"2","datatype":"auto","broker":"3d695519.ef9d2a","x":380,"y":580,"wires":[["c41a602d.26cb4","3dce2c6c.824234"]]},{"id":"8e026ab8.c31fa8","type":"ui_text","z":"e522681c.efe738","group":"72c15a48.291cc4","order":2,"width":5,"height":2,"name":"","label":"Nhiệt độ","format":"{{msg.payload}} 'C","layout":"col-center","x":840,"y":340,"wires":[]},{"id":"c41a602d.26cb4","type":"ui_text","z":"e522681c.efe738","group":"72c15a48.291cc4","order":1,"width":5,"height":2,"name":"","label":"Độ ẩm","format":"{{msg.payload}} %","layout":"col-center","x":830,"y":580,"wires":[]},{"id":"63b4f85.cfddf08","type":"mqtt in","z":"e522681c.efe738","name":"","topic":"sensor/light","qos":"2","datatype":"auto","broker":"3d695519.ef9d2a","x":380,"y":740,"wires":[["d9ad7535.9cb7f8"]]},{"id":"d9ad7535.9cb7f8","type":"ui_text","z":"e522681c.efe738","group":"72c15a48.291cc4","order":8,"width":9,"height":2,"name":"","label":"Trạng thái đèn","format":"{{msg.payload}} ","layout":"col-center","x":580,"y":740,"wires":[]},{"id":"f637dbcf.ae25c8","type":"mqtt in","z":"e522681c.efe738","name":"","topic":"sensor/gas","qos":"2","datatype":"auto","broker":"3d695519.ef9d2a","x":370,"y":840,"wires":[["1d6cbc80.401d54"]]},{"id":"1d6cbc80.401d54","type":"ui_text","z":"e522681c.efe738","group":"72c15a48.291cc4","order":6,"width":9,"height":2,"name":"","label":"Trạng thái khí gas","format":"{{msg.payload}} ","layout":"col-center","x":590,"y":840,"wires":[]},{"id":"35d45782.4e9578","type":"mqtt in","z":"e522681c.efe738","name":"","topic":"sensor/dadat","qos":"2","datatype":"auto","broker":"3d695519.ef9d2a","x":380,"y":940,"wires":[["1165f3c7.935d9c"]]},{"id":"1165f3c7.935d9c","type":"ui_text","z":"e522681c.efe738","group":"72c15a48.291cc4","order":5,"width":9,"height":2,"name":"","label":"Độ ẩm đất","format":"{{msg.payload}} ","layout":"col-center","x":570,"y":940,"wires":[]},{"id":"2bcd0d78.ef2752","type":"mqtt out","z":"e522681c.efe738","name":"","topic":"sensor","qos":"2","retain":"","broker":"3d695519.ef9d2a","x":950,"y":1140,"wires":[]},{"id":"cd200d35.4ad82","type":"ui_button","z":"e522681c.efe738","name":"","group":"72c15a48.291cc4","order":10,"width":7,"height":2,"passthru":true,"label":"Bật đèn","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"sensor","x":740,"y":1100,"wires":[["2bcd0d78.ef2752"]]},{"id":"1877eb6f.7104c5","type":"ui_button","z":"e522681c.efe738","name":"","group":"72c15a48.291cc4","order":11,"width":6,"height":2,"passthru":false,"label":"Bật máy bơm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"sensor","x":340,"y":1260,"wires":[["2bcd0d78.ef2752"]]},{"id":"4cc2e77a.d117a8","type":"telegram command","z":"e522681c.efe738","name":"","command":"/bat_tat_den","bot":"1a5d78ef.d9caa7","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":350,"y":1040,"wires":[["60445bf8.2f84f4"],[]]},{"id":"60445bf8.2f84f4","type":"function","z":"e522681c.efe738","name":"","func":"\nc='Đã thực hiện lệnh bật tắt đèn' \n\n\nmsg.payload = {chatId : -364218162, type : 'message', content : c }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":1040,"wires":[["cd200d35.4ad82","605027df.ab9508"]]},{"id":"605027df.ab9508","type":"telegram sender","z":"e522681c.efe738","name":"","bot":"1a5d78ef.d9caa7","haserroroutput":false,"outputs":1,"x":890,"y":1040,"wires":[[]]},{"id":"dcc4c4b7.309ca8","type":"telegram receiver","z":"e522681c.efe738","name":"","bot":"1a5d78ef.d9caa7","saveDataDir":"","filterCommands":false,"x":390,"y":160,"wires":[["d01035b2.ab7dc8"],[]]},{"id":"a18372f0.08d8c","type":"telegram command","z":"e522681c.efe738","name":"","command":"/nhiet_do","bot":"1a5d78ef.d9caa7","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":380,"y":240,"wires":[["904ca3ab.a1d9a"],[]]},{"id":"904ca3ab.a1d9a","type":"function","z":"e522681c.efe738","name":"","func":"var nd = parseInt(flow.get(\"temp\")); \n\nif(msg.payload.content === '') {\n\n\nc='Nhiệt độ đang là:' \nc+='\\r\\n'+nd+' độ C'\n\nmsg.payload = {chatId : -364218162, type : 'message', content : c }\n\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":220,"wires":[["5bf952e4.7a519c"]]},{"id":"5bf952e4.7a519c","type":"telegram sender","z":"e522681c.efe738","name":"","bot":"1a5d78ef.d9caa7","haserroroutput":false,"outputs":1,"x":850,"y":220,"wires":[[]]},{"id":"ef2c1560.bffef8","type":"change","z":"e522681c.efe738","name":"","rules":[{"t":"set","p":"temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":280,"wires":[["904ca3ab.a1d9a"]]},{"id":"79a43ab6.e57dd4","type":"telegram command","z":"e522681c.efe738","name":"","command":"/do_am","bot":"1a5d78ef.d9caa7","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":370,"y":480,"wires":[["92b511ae.2b958"],[]]},{"id":"3dce2c6c.824234","type":"change","z":"e522681c.efe738","name":"","rules":[{"t":"set","p":"humi","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":520,"wires":[["92b511ae.2b958"]]},{"id":"92b511ae.2b958","type":"function","z":"e522681c.efe738","name":"","func":"var nd = parseInt(flow.get(\"humi\")); \n\nif(msg.payload.content === '') {\n\n\nc='Độ ẩm đang là:' \nc+='\\r\\n'+nd+' %'\n\nmsg.payload = {chatId : -364218162, type : 'message', content : c }\n\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":460,"wires":[["cbd072c9.8a60b"]]},{"id":"cbd072c9.8a60b","type":"telegram sender","z":"e522681c.efe738","name":"","bot":"1a5d78ef.d9caa7","haserroroutput":false,"outputs":1,"x":850,"y":460,"wires":[[]]},{"id":"9a937063.30612","type":"telegram command","z":"e522681c.efe738","name":"","command":"/help","bot":"1a5d78ef.d9caa7","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":750,"y":100,"wires":[["9e726ea4.25c11"],[]]},{"id":"9e726ea4.25c11","type":"function","z":"e522681c.efe738","name":"","func":"var helpMessage = \"/help - shows help\";\n\nhelpMessage += \"\\r\\n/nhiet_do\";\nhelpMessage += \"\\r\\n/do_am\";\nhelpMessage += \"\\r\\n/bat_tat_den\";\n\nmsg.payload.content = helpMessage;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":100,"wires":[["a30a1750.330d98"]]},{"id":"a30a1750.330d98","type":"telegram sender","z":"e522681c.efe738","name":"","bot":"1a5d78ef.d9caa7","haserroroutput":false,"outputs":1,"x":1170,"y":100,"wires":[[]]},{"id":"3d695519.ef9d2a","type":"mqtt-broker","name":"mosquitto","broker":"test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"72c15a48.291cc4","type":"ui_group","name":"Nodemcu","tab":"2269761e.33392a","order":1,"disp":true,"width":28,"collapse":false},{"id":"1a5d78ef.d9caa7","type":"telegram bot","botname":"hello","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"2269761e.33392a","type":"ui_tab","name":"Nodemcu_test","icon":"dashboard","order":1,"disabled":false,"hidden":false}]