flow_mqtt_final.json
[{"id":"e522681c.efe738","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d01035b2.ab7dc8","type":"debug","z":"e522681c.efe738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":80,"wires":[]},{"id":"ec332dad.2789f","type":"mqtt in","z":"e522681c.efe738","name":"","topic":"sensor","qos":"0","datatype":"auto","broker":"3d695519.ef9d2a","x":360,"y":80,"wires":[["d01035b2.ab7dc8"]]},{"id":"4acdbeec.96897","type":"mqtt in","z":"e522681c.efe738","name":"","topic":"sensor/nd","qos":"2","datatype":"auto","broker":"3d695519.ef9d2a","x":360,"y":180,"wires":[["8e026ab8.c31fa8"]]},{"id":"dccf4429.2847b8","type":"mqtt in","z":"e522681c.efe738","name":"","topic":"sensor/da","qos":"2","datatype":"auto","broker":"3d695519.ef9d2a","x":360,"y":280,"wires":[["c41a602d.26cb4"]]},{"id":"8e026ab8.c31fa8","type":"ui_text","z":"e522681c.efe738","group":"72c15a48.291cc4","order":2,"width":3,"height":3,"name":"","label":"Nhiệt độ","format":"{{msg.payload}} 'C","layout":"col-center","x":580,"y":200,"wires":[]},{"id":"c41a602d.26cb4","type":"ui_text","z":"e522681c.efe738","group":"72c15a48.291cc4","order":1,"width":3,"height":3,"name":"","label":"Độ ẩm","format":"{{msg.payload}} %","layout":"col-center","x":570,"y":300,"wires":[]},{"id":"63b4f85.cfddf08","type":"mqtt in","z":"e522681c.efe738","name":"","topic":"sensor/light","qos":"2","datatype":"auto","broker":"3d695519.ef9d2a","x":360,"y":380,"wires":[["d9ad7535.9cb7f8"]]},{"id":"d9ad7535.9cb7f8","type":"ui_text","z":"e522681c.efe738","group":"72c15a48.291cc4","order":3,"width":9,"height":2,"name":"","label":"Trạng thái đèn","format":"{{msg.payload}} ","layout":"col-center","x":560,"y":380,"wires":[]},{"id":"f637dbcf.ae25c8","type":"mqtt in","z":"e522681c.efe738","name":"","topic":"sensor/gas","qos":"2","datatype":"auto","broker":"3d695519.ef9d2a","x":350,"y":480,"wires":[["1d6cbc80.401d54"]]},{"id":"1d6cbc80.401d54","type":"ui_text","z":"e522681c.efe738","group":"72c15a48.291cc4","order":6,"width":9,"height":2,"name":"","label":"Trạng thái khí gas","format":"{{msg.payload}} ","layout":"col-center","x":570,"y":480,"wires":[]},{"id":"35d45782.4e9578","type":"mqtt in","z":"e522681c.efe738","name":"","topic":"sensor/dadat","qos":"2","datatype":"auto","broker":"3d695519.ef9d2a","x":360,"y":580,"wires":[["1165f3c7.935d9c"]]},{"id":"1165f3c7.935d9c","type":"ui_text","z":"e522681c.efe738","group":"72c15a48.291cc4","order":11,"width":9,"height":2,"name":"","label":"Độ ẩm đất","format":"{{msg.payload}} ","layout":"col-center","x":550,"y":580,"wires":[]},{"id":"2bcd0d78.ef2752","type":"mqtt out","z":"e522681c.efe738","name":"","topic":"sensor","qos":"2","retain":"","broker":"3d695519.ef9d2a","x":570,"y":700,"wires":[]},{"id":"cd200d35.4ad82","type":"ui_button","z":"e522681c.efe738","name":"","group":"72c15a48.291cc4","order":16,"width":3,"height":3,"passthru":false,"label":"Bật đèn","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"sensor","x":340,"y":800,"wires":[["2bcd0d78.ef2752"]]},{"id":"1877eb6f.7104c5","type":"ui_button","z":"e522681c.efe738","name":"","group":"72c15a48.291cc4","order":18,"width":3,"height":3,"passthru":false,"label":"Bật máy bơm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"sensor","x":350,"y":720,"wires":[["2bcd0d78.ef2752"]]},{"id":"3d695519.ef9d2a","type":"mqtt-broker","name":"mosquitto","broker":"test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"72c15a48.291cc4","type":"ui_group","name":"Nodemcu","tab":"2269761e.33392a","order":1,"disp":true,"width":"24","collapse":false},{"id":"2269761e.33392a","type":"ui_tab","name":"Nodemcu_test","icon":"dashboard","order":1,"disabled":false,"hidden":false}]